@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  margin: 0;
  background-color: #222;
  color: white;
}

section {
  padding-inline: 7rem;
  margin-block: 2rem;
}